<app-monitor-title [heading]="heading" [subheading]="subheading" [icon]="icon"
  (refreshEmitter)="doRefresh($event)">
</app-monitor-title>

<div class="mb-3 card">

  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg font-weight-normal">
      <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
      <strong>#{{qid}}: "{{query.name}}"</strong> => [{{query.datasource}}] {{ query.slicedQry }}
    </div>
  </div>
  <div class="no-gutters row" >
    <!-- time-series chart -->
    <div id="chartdiv" style="width: 100%; height: 300px"></div>
  </div>
</div>


<!-- ========================================= -->

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Graph</div>
  </div>
  <div class="no-gutters row" >
    <!-- canvas for cytoscape.js -->
    <div id="cy" style="width: 100%; height: 500px"></div>
  </div>
</div>

