<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="mb-3 card">
  <div class="card-header-tab card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
      <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
      Monitor Dashboard
    </div>
  </div>
  <div class="no-gutters row">
    <div id="chartdiv" style="width: 100%; height: 500px;"></div>
    <!--
    <div class="col-sm-6 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
          <i class="pe-7s-album text-white opacity-8"></i>
        </div>
        <div class="widget-chart-content">
          <div class="widget-subheading"># of Monitors</div>
          <div class="widget-numbers">7</div>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block"></div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
          <i class="pe-7s-portfolio text-white"></i></div>
        <div class="widget-chart-content">
          <div class="widget-subheading"># of Datasources</div>
          <div class="widget-numbers"><span>4</span></div>
        </div>
      </div>
      <div class="divider m-0 d-md-none d-sm-block"></div>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
        <div class="icon-wrapper rounded-circle">
          <div class="icon-wrapper-bg opacity-9 bg-success"></div>
          <i class="pe-7s-light text-white"></i></div>
        <div class="widget-chart-content">
          <div class="widget-subheading">Interval time</div>
          <div class="widget-numbers text-success"><span>2 sec</span></div>
        </div>
      </div>
    </div>
  -->
  </div>
</div>

<!-- ========================================= -->

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Monitor List</div>
  </div>
  <div class="table-responsive">
    <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
      <thead>
      <tr>
        <th class="text-center" scope="col">#</th>          <!-- id -->
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Datasource</th>
        <th class="text-center" scope="col">Label</th>     <!-- targets : label of node or edge -->
        <th class="text-center" scope="col">Status</th>     <!-- On hold, In Progress -->
        <th class="text-center" scope="col">Start Time</th>
        <th class="text-center" scope="col">Count</th>
        <th class="text-center" scope="col">Actions</th>    <!-- Pause/Resume, Delete -->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items; index as i">
        <th class="text-center text-muted" style="width: 80px;" scope="row">{{ item.id }}</th>
        <td class="text-center"><a [routerLink]="">{{ item.name }}</a></td>
        <td class="text-center"><a [routerLink]="">{{ item.datasource }}</a></td>
        <td class="text-center"><a [routerLink]="">{{ item.labels }}</a></td>
        <td class="text-center">
          <div *ngIf="item.status == 'canceled'" class="badge badge-pill badge-danger">Canceled</div>
          <div *ngIf="item.status == 'held'" class="badge badge-pill badge-info">On Hold</div>
          <div *ngIf="item.status == 'completed'" class="badge badge-pill badge-success">Completed</div>
          <div *ngIf="item.status == 'progress'" class="badge badge-pill badge-warning">In Progress</div>
        </td>
        <td class="text-center">
          <span class="pr-2 opacity-6"><i class="fa fa-business-time"></i></span>
          {{ item.starttime | date }}
        </td>
        <td class="text-center" style="width: 200px;">
          <div class="widget-numbers fsize-1 text-danger">{{ item.count }}</div>
        </td>
        <td class="text-center">
          <div role="group" class="btn-group-sm btn-group">
            <button class="btn-shadow btn btn-primary">{{ item.status == 'held' ? 'resume' : 'hold' }}</button>
            &nbsp;
            <button class="btn-shadow btn btn-danger">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-block p-4 text-center card-footer"> <!-- NOT WORK: align=center -->
      <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
    </div>
  </div>

  <!--
  <div class="d-block p-4 text-center card-footer">
    <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
      <span class="mr-2 opacity-7">
          <i class="fa fa-cog fa-spin"></i>
      </span>
      <span class="mr-1">View Complete Report</span>
    </button>
  </div>
  -->
</div>
